{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "none",
    "tabWidth": 2,
    "printWidth": 80,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "proseWrap": "preserve",
    "overrides": [
      {
        "files": "*.astro",
        "options": {
          "parser": "astro"
        }
      }
    ]
  }